/ksiegowosc.sublime-workspace
/ksiegowosc.sublime-workspace
/ksiegowosc.sublime-workspace

#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
#Nuget packages folder
packages/
*.jpg
/Proces sukcesu.png
/ksiegowosc.sublime-workspace
/ksiegowosc.sublime-workspace
/ang.tx
/ksiegowosc.sublime-workspace
/.~lock.rachunkowosc13.ods#
/.~lock.rachunkowosc 14.ods#
/.~lock.rachunkowosc15.ods#
/Bilans (rachunkowość) – Wikipedia, wolna encyklopedia.html
/Bilans (rachunkowość) – Wikipedia, wolna encyklopedia_files/25px-Disambig.svg.png
/Bilans (rachunkowość) – Wikipedia, wolna encyklopedia_files/load(1).php
/Bilans (rachunkowość) – Wikipedia, wolna encyklopedia_files/load(2).php
/Bilans (rachunkowość) – Wikipedia, wolna encyklopedia_files/load(3).php
/Bilans (rachunkowość) – Wikipedia, wolna encyklopedia_files/load(4).php
/Bilans (rachunkowość) – Wikipedia, wolna encyklopedia_files/load.php
/Bilans (rachunkowość) – Wikipedia, wolna encyklopedia_files/poweredby_mediawiki_88x31.png
/Bilans (rachunkowość) – Wikipedia, wolna encyklopedia_files/wikimedia-button.png
